# Database
SPRING_DATASOURCE_PASSWORD=<password>
SPRING_DATASOURCE_URL=<jdbc:postgresql://host:5432/inventory>
SPRING_DATASOURCE_USERNAME=<username>
POSTGRES_USER=<username>
POSTGRES_PASSWORD=<password>
POSTGRES_DB=inventory

# Admin credentials
ADMIN_FIRSTNAME=<firstname>
ADMIN_LASTNAME=<lastname>
ADMIN_USERNAME=<username>
ADMIN_PASSWORD=<password>
ADMIN_EMAIL=<email>
ADMIN_PHONE=<phone>

# Auth secret key
AUTH_SECRET=<secret>

# Mail
## Gmail, uncomment to enable
# SPRING_MAIL_USERNAME=<username>
# SPRING_MAIL_PASSWORD=<password>
# SPRING_MAIL_HOST=smtp.gmail.com
# SPRING_MAIL_PORT=587
# SPRING_MAIL_PROPERTIES_MAIL_SMTP_STARTTLS_ENABLE=true

## Mailhog for local testing, comment to disable
SPRING_MAIL_USERNAME=
SPRING_MAIL_PASSWORD=
SPRING_MAIL_HOST=localhost
SPRING_MAIL_PORT=1025
SPRING_MAIL_PROPERTIES_MAIL_SMTP_AUTH=false
SPRING_MAIL_PROPERTIES_MAIL_SMTP_STARTTLS_ENABLE=false